<image class='img-responsive img-circle' src='<%= image %>'></image>
<!-- <div class='text-center name'>
  <span class='text-warning'> <%= name %> </span>
  </br>
  <span class='text-info'> <%= description %> </span>
</div> -->
