<div class="container">
  <div id="header">
    <h1 class='text-center'>Grouper Zonks</h1>
    <h5 class='text-center'>Recognizing teammates who embody our company values</h5>
    <ul class="nav nav-pills">
      <li><a href='#'>Zonks</a></li>
      <li><a href='#awards'>Awards</a></li>
    </ul>
  </div>

  <div id="zonk_award_form">
  </div>

  <h3>Past Awards</h3>
  <div id="zonk_awards">
  </div>

  <div id="footer" class="text-center">
    Email <a href='mailto:zonks@joingrouper.com'>zonks@joingrouper.com</a> to zonk someone
  </div>
</div>
