<image class='img-responsive' src='<%= image %>'></image>
<div class='text-center name'>
  <span class='text-warning'> <%= name %> </span>
  </br>
  <span class='text-info'> <%= description %> </span>
</div>
