<div class='col-xs-2 col-sm-1'>
  <image class='img-circle img-responsive' src='<%= zonk.image %>'/>
</div>
<div class='col-xs-10 col-sm-11'>
  <span class='text-warning'><%= name %></span> embodied <span class='text-info'>"<%= zonk.description %>"</span> by <span><%= deed %></span>
</div>
